<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToNotif()">
        <ion-icon name="notifications" color="light"></ion-icon>
        <ion-badge color="warning">4</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="myhead">
    <swiper
      #swiper
      [config]="configSwiper"
      style="--bullet-background-active: var(--ion-color-primary)"
    >
      <ng-template swiperSlide *ngFor="let slide of slides">
        <img [src]="slide.path" style="max-height: 200px !important" />
      </ng-template>
    </swiper>
  </div>

  <div class="animate__animated animate__bounce animate__infinite">
    <div class="search">
      <div class="example1">
        <h3>{{ runningText }}</h3>
      </div>
    </div>
  </div>

  <ion-list>
    <ion-list-header lines="none">
      <ion-label style="margin: 0px; font-size: 13px; font-weight: 500"
        ><ion-text color="primary">Informasi Terbaru</ion-text></ion-label
      >
      <ion-button
        fill="outline"
        color="primary"
        style="
          padding-right: 7px;
          font-size: 11px;
          --padding-start: 0.5em;
          --padding-end: 0.5em;
          height: 24px;
        "
        >Lihat Semua</ion-button
      >
    </ion-list-header>
  </ion-list>
</ion-content>
